# Diretórios do sistema operacional
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log
*.tmp
*.swp

# Dependências do Node.js
node_modules/
package-lock.json

# Dependências do Python
__pycache__/
*.pyc
venv/
env/
.env/
.venv/


# Pastas de compilação do GameMaker
*.yyc
*.yyz
*.gml/
cache/
